/*--Author: George
Author URL: http://georgehacks.blogspot.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/

body {
	margin: 0;
	font-family: 'Slabo 27px', serif;
	background: #fff;
}

body a,
.newsright input[type="submit"],
button {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	color: #000;
	font-size: 1.2em;
	line-height: 1.6;
}

ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus {
	outline: none;
	text-decoration: none;
}

/*-- bottom-to-top --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 3%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* header */

.navbar-light {
	padding: 1em 5em;
	position: absolute;
	z-index: 999;
	width: 100%;
	left: 0;
}

a.navbar-brand,
.footer-top h2 a {
	font-family: 'Slabo 27px', serif;
	text-transform: capitalize;
	font-size: 1.2em;
	color: #fff;
	letter-spacing: 1px;
	margin: 1em 0;
}

a.navbar-brand span,
.footer-top a span {
	font-family: 'Anton', sans-serif;
}

h3.w3f_title {
	font-family: 'Slabo 27px', serif;
	font-size: 1.8em;
	color: #000;
}

.navbar-light .navbar-nav .nav-link {
	text-transform: capitalize;
	color: #5aae32;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	background: transparent;
	border-radius: 5px;
}

.dropdown-item {
	color: #fff;
}

.dropdown-item {
	background-color: white;
	font-family: 'Anton', sans-serif;
	color: #000 !important;
}

.w3ls-btn {
	letter-spacing: 1px;
	font-weight: 600;
}

.header-left {
	background: #E74C3C;
	position: relative;
	background: #56ab2f;
	background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
	background: linear-gradient(to right, #a8e063, #56ab2f);
	padding: 4em 4em 0;
}

.banner-text-w3ls {
	margin: 3em 0;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #8BC34A;
}

.banner-text-w3ls h3 {
	text-transform: capitalize;
	margin-bottom: 0.5em;
	letter-spacing: 0.5px;
	font-family: 'Anton', sans-serif;
}

.banner-text-w3ls p {
	color: #000;
	margin: 1em 0;
	font-size: 1.2em;
	width: 400px;
}

.banner-main {
	position: relative;
}

.banner-main:before {
	left: 528px;
	position: absolute;
	content: '';
	top: 0px;
	width: 100px;
	height: 100%;
	background: #56ab2f;
	clip-path: polygon( 0 0, 100% 0, 100% -29%, 0 calc(100% - 0vw));
	z-index: 1;
}

.logo-sign {
	background: #fff;
	padding: 10px;
	width: 20%;
	justify-content: center;
}

.logo-sign.d-flex span {
	font-family: 'Anton', sans-serif;
	font-size: 2.0em;
	color: #5bae32;
}

/* //header --*/

/* banner */

.banner {
	background: url(../images/ban.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
}

.inner-banner {
	background: url(../images/bg.jpg)no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 280px;
	position: relative;
}

.breadcrumb {
	margin-bottom: 0;
}

li.breadcrumb-item a {
	color: #000;
	font-weight: 600;
	font-size: 0.95em;
	letter-spacing: 0.5px;
}

.breadcrumb-item.active {
	color: #56ab2f;
	font-weight: bold;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.banner-text {
	padding: 36vw 0 7vw 30vw;
	box-sizing: border-box;
}

.slider-info {
	background: #000;
	padding: 10px 35px;
	width: 100%;
}

/*-- text Slider --*/

#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

/*
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 78%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	left: auto;
	background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
	left: auto;
	background: url("../images/next.png") no-repeat 0px 0px;
	right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}*/

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}

#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider-pager a {
	padding: 0;
}

#slider-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}

.rslides li {
	position: relative;
	display: block;
	float: none;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs li {
	display: inline-block;
}

.callbacks_tabs a {
	visibility: hidden;
	line-height: 23px;
	height: 20px;
	text-align: center;
	color: #000;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 50%;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 15px;
	width: 15px;
	display: inline-block;
	background: #57ac30;
}

.callbacks_here a:after {
	background: #000;
}

p.sub-para {
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
}

.slider-info img {
	width: 100px;
	margin: 0 auto;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	left: 0%;
	bottom: -70px;
	z-index: 2;
}

.slider-top span {
	font-weight: 600;
}

.slider-info h3 {
	font-size: 1.9em;
	color: #fff;
	letter-spacing: 1px;
	line-height: 1.15em;
	font-weight: 100;
	text-transform: capitalize;
	font-family: 'Slabo 27px', serif;
}

.slider-info h4,
h4.abt-right-text {
	color: #000000;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 2px;
	margin-top: 1em;
	text-transform: capitalize;
}

.slider-info p {
	font-size: 1.1em;
	font-weight: normal;
	color: #777;
}

.slider-info a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	border-color: #7c43b8;
	background: #7c43b8;
}

.slider-info a:hover {
	color: #fff;
	background: #b34fa9;
	border-color: #b34fa9;
}

/* //text slider */

h4.w3l-sub {
	color: #000;
	font-size: 2.2em;
	text-transform: capitalize;
	font-family: 'Anton', sans-serif;
}

.wthree-title p {
	color: #251b1b;
	max-width: 850px;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.2em;
}

h3.ab-title {
	font-size: 2.5em;
	color: #48BF91;
}

p.about-text-wthree {
	color: #000;
}

section#about {
	background: #f3f3f3;
}

.agileits-abt-grids span {
	width: 70px;
	height: 70px;
	background: #5aae32;
	color: #fff;
	font-size: 2em;
	line-height: 60px;
	text-align: center;
	margin-right: 1em;
	border: 5px solid #a7df62;
	border-radius: 50%;
}

h3.w3ls-title {
	font-size: 3.2em;
	color: #482d2e;
	font-family: 'Anton', sans-serif;
}

h4.w3ls-title {
	font-size: 2em;
	color: #000;
	font-style: italic;
}

a.abt-agile {
	color: #482d2e;
	font-style: italic;
	letter-spacing: 1px;
	padding: 0;
	border-bottom: 1px solid #e6caa2;
}

.agileits-abt-grids h4 {
	margin: 1.3em 0 0;
	font-family: 'Slabo 27px', serif;
	font-weight: 600;
	color: #333;
	font-size: 1.5em;
}

/* //about */

/*-- services --*/

#services {
	background: url(../images/services.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

#services:before {
	background: rgba(99, 180, 55, 0.78);
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.agileits-services-grids h4 {
	font-size: 1.5em;
	color: #000;
	line-height: 1.5em;
	font-weight: 600;
}

.agileits-services-grids h6 {
	padding: 1px;
	background: #2954a2;
	width: 33%;
	margin: 2em auto 0;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.agileits-services-grids:hover h6 {
	width: 55%;
	background: #2954a2;
}

/*-- Effect 1--*/

.agileits-services-grids span,
.img-agile i {
	font-size: 2em;
	color: #000000;
	width: 50px;
	height: 50px;
	background: linear-gradient(to right, #a8e063, #56ab2f);
	line-height: 50px;
	text-align: center;
	box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
	border-radius: 50%;
}

.agileits-services-grids h4 span {
	width: 40px;
	height: 2px;
	background: #000;
	display: inline-block;
	margin-left: 5px;
}

.agileits-services-grids p {
	width: 300px;
}

/*-- //services --*/

/*-- team --*/

.team.agileits-w3layouts {
	background: #fff;
}

.team-grid.w3_agileits img {
	margin: 1em 0 0;
}

.team-grid.w3_agileits ul {
	margin: 1em 0 0;
}

.team-grid.w3_agileits {
	padding: 2em;
	-webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
	-moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
	box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
}

.features-grids img {
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	text-decoration: none;
	z-index: 1;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.team-grid .social-icons {
	margin-top: 1em;
}

/* team */

.team-mid-txt span {
	color: #34c663;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: bold;
}

.team-mid-txt h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	font-size: 5em;
	text-shadow: 4px 0px 0px #a09c9c;
}

.team-mid-txt h5:last-child {
	font-size: 4em;
}

.team-mid-txt.text-center {
	background: #eee;
	padding: 7em 3em;
}

.team-container {
	width: 86%;
	margin: 0 auto;
}

.team-effect {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 1;
	filter: alpha(opacity=100);
}

.team-text {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.team-effect img {
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.team-effect img:before {
	content: '';
	background-color: rgba(0, 0, 0, 0);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.team-effect img:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.team-grids:hover .team-text {
	background-color: #e01414;
}

.team-grid-left .team-grids :nth-child(1).team-text {
	background: #f7c052;
}

.team-grid-left .team-grids :nth-child(2).team-text {
	background: #c3d0ff;
}

.team-grid-right .team-grids :nth-child(2).team-text {
	background: #34c663;
}

.team-grid-right .team-grids :nth-child(1).team-text {
	background: #f7c052;
}

.team-grids:hover .team-text p {
	color: #fff;
}

.team-grids:hover .social-icon {
	bottom: 0%;
	height: 100%;
	padding-top: 8em;
	position: absolute;
	visibility: visible;
	background-color: rgba(212, 210, 210, 0.67);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-ms-transition: all 0.9s;
	-o-transition: all 0.9s;
	transition: all 0.9s;
}

.team-effect:hover .social-icon a {
	-webkit-animation-name: translate-transition;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-name: translate-transition;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.team-text {
	padding: 50px 30px 0;
	width: 100%;
	min-height: 285px;
}

.team-grid-left {
	text-align: right;
}

.team-text h4 {
	color: #000;
	font-size: 1.5em;
	line-height: 2;
	text-shadow: 1px 1px 1px #fffafa;
}

.team-text span {
	font-style: italic;
	color: #636262;
	font-size: 1.1em;
	letter-spacing: 0.5px;
}

.team-text p {
	color: #fff;
	margin-top: 15px;
	text-transform: capitalize;
}

.team-effect .social-icon {
	bottom: 0;
	padding: 10px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	overflow: hidden;
	z-index: 9;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	visibility: hidden;
}

.social-button {
	display: inline-block;
	background-color: #fff;
	width: 40px;
	height: 40px;
	margin: 0 3px;
	text-align: center;
	position: relative;
	overflow: hidden;
	opacity: .99;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}

.social-button:before {
	content: '';
	background-color: #000;
	width: 120%;
	height: 120%;
	position: absolute;
	top: 102%;
	left: -118%;
	-webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	-moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button i {
	font-size: 2em;
	line-height: 1.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	-moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.facebook:before {
	background-color: #3B5998;
}

.social-button.facebook .fab {
	color: #3B5998;
}

.social-button.twitter:before {
	background-color: #3CF;
}

.social-button.twitter .fab {
	color: #3CF;
}

.social-button.google:before {
	background-color: #DC4A38;
}

.social-button.google .fab {
	color: #DC4A38;
}

.social-button.dribbble:before {
	background-color: #F26798;
}

.social-button.dribbble .fa {
	color: #F26798;
}

.social-button.skype:before {
	background-color: #00AFF0;
}

.social-button.skype .fa {
	color: #00AFF0;
}

.social-button:focus:before,
.social-button:hover:before {
	top: -10%;
	left: -10%;
}

.social-button:focus .fab,
.social-button:hover .fab {
	color: #fff;
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/*-- //team --*/

/* //banner */

/* gallery */

ul.portfolio-area li figure {
	margin: 0;
}

.portfolio-categ li {
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 8px 34px;
	font-size: 1.1em;
	margin: 0 0.4em;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.portfolio-categ li a {
	color: #333;
}

.image-block {
	display: block;
	position: relative;
}

.portfolio-area li {
	float: left;
	list-style-type: none;
	overflow: hidden;
	width: 338px;
	margin: 1em;
	border: 1px solid #eaeaea;
}

.home-portfolio-text {
	margin-top: 10px;
}

.portfolio-categ li.active {
	background: #56ab2f;
	color: #fff;
	border-radius: 40px;
}

.portfolio-categ li.active a {
	color: #fff;
}

/* //gallery */

/*-- features--*/

.features-agile {
	background: url(../images/feature.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.layer_features {
	background: rgba(0, 0, 0, 0.48);
}

.feature-review p {
	max-width: 550px;
	letter-spacing: 1px;
}

.feature-review p {
	max-width: 250px;
	font-style: italic;
}

.img-agile i {
	color: #fff;
}

.img-agile h6 {
	font-size: 2em;
	text-transform: capitalize;
}

.img-agile span {
	display: block;
	background: #67b63a;
	width: 50%;
	height: 3px;
	margin: 4px auto 0;
}

.carousel-control.left,
.carousel-control.right {
	background: none;
	width: 25px;
}

.carousel-control.left {
	left: -25px;
}

.carousel-control.right {
	right: -25px;
}

.broun-block {
	padding-bottom: 34px;
}

.block-text {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 0 #2c2222;
	color: #000;
	margin-top: 27px;
	padding: 15px 18px;
}

.block-text span {
	color: #eb5c74;
}

.block-text h6 {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 21px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.mark {
	background: none;
}

.block-text p {
	color: #585858;
	font-style: italic;
}

.block {
	display: block;
}

.zmin {
	z-index: 1;
}

.ab {
	position: absolute;
}

.person-text {
	padding: 10px 0 0;
	text-align: center;
	z-index: 2;
}

.person-text h5 {
	color: #eb5c74;
	display: block;
	font-size: 1.2em;
	margin: 10px 0 5px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.person-text i {
	color: #000;
}

.rel {
	position: relative;
	background: #eaeaea;
	padding: 2em;
}

.person-text.rel {
	background: transparent;
}

/*-- features--*/

/* typography */

.typo-wthree h4 {
	color: #000;
	font-size: 1.5em;
	text-transform: capitalize;
}

.bg-flex {
	background-color: rgb(129, 199, 74);
	border: 1px solid rgb(129, 199, 74);
}

.bg-flex-item {
	background-color: #fff;
	border: 1px solid #d7d8d8;
}

.typo-wthree h5 {
	color: #333;
}

/* //typography */

/*-- Testimonials --*/

.testimonials {
	background: #eee;
}

.w3_testimonials_grid h4 {
	font-size: 17px;
	line-height: 1.8;
	letter-spacing: 1px;
}

.w3_testimonials_grid h5 {
	color: #56ab2f;
	font-size: 22px;
	letter-spacing: 1px;
}

.w3_testimonials_grid {
	border-radius: 100px;
	padding: 20px 10px 10px;
	box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.15);
	background: #ecdfdf;
	max-width: 700px;
}

.right-text-agiles p {
	font-size: 1.1em;
	padding-right: 3em;
}

/*-- //Testimonials --*/

/* brands */

ul.list-unstyled {
	background: #eee;
}

.brands-w3ls ul li {
	display: inline-block;
	margin: 0 2em;
}

.brands-w3ls ul li i {
	font-size: 6em;
	color: #777;
}

/* //brands */

/*--/newsletter--*/

.newsletter.bg-dark.text-center.py-lg-5 {
	background: #E74C3C;
	position: relative;
	background: #56ab2f;
	background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
	background: linear-gradient(to right, #a8e063, #56ab2f);
}

.newsright input[type="email"] {
	outline: none;
	width: 100%;
	padding: 15px 20px;
	color: #848484;
	font-size: 14px;
	border: 1px solid #b5bbbd;
	width: 74%;
	letter-spacing: 3px;
	background: none;
}

.newsright input[type="email"] {
	outline: none;
	padding: 5px 20px;
	border: none;
	line-height: 3;
	color: #fff;
	font-size: 1em;
	width: 70%;
	letter-spacing: 3px;
	background: rgba(208, 202, 202, 0.34);
	border-radius: 0px;
}

.newsright input[type="submit"] {
	padding: 11px 20px;
	font-size: 15px;
	outline: none;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	background: #56ab2f;
	border: 4px solid rgba(0, 0, 0, 0.32);
	margin-left: 10px;
	color: #fff;
	width: 30%;
	cursor: pointer;
	border-radius: 0;
}

.newsright input[type="submit"]:hover {
	background: #000;
}

.newsright {
	margin: 0 auto;
	width: 50%;
}

.galsses-grid-right {
	padding: 0 5em 0 2em;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border: 1px solid #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem transparent;
}

label.align-self-center {
	background: #56ab2f;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.55);
	width: 70px;
	line-height: 60px;
	height: 60px;
	margin-bottom: 0;
	text-align: center;
}

/*--//newsletter--*/

/*--contact--*/

.w3-contact {
	background: url(../images/contact.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.contact-bottom {
	padding: 3rem;
}

.w3-contact:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(35, 35, 35, 0.64);
	z-index: -1;
}

.map iframe {
	width: 100%;
	min-height: 350px;
	border: 5px solid #56ab2f;
}

.address h5 {
	color: #000;
	text-transform: capitalize;
	font-size: 1.1em;
}

.address p a,
p.c-txt {
	color: #777;
}

.address p a:hover {
	color: #000;
}

form.contact-wthree label {
	width: 45px;
	height: 45px;
	text-align: center;
	background: #56ab2f;
	line-height: 45px;
	color: #eee;
	margin-bottom: 0;
}

.contact-top1 button {
	background: #56ab2f;
	letter-spacing: 1px;
}

form.contact-wthree .form-control {
	border-radius: 0;
	background: #eee;
	border: none;
}

.contact-top1 h5 {
	font-size: 2em;
}

.address h5 {
	font-size: 1.5em;
}

/*--//contact--*/

/* blog */

h5.blog-title a {
	color: #333;
	font-size: 1em;
}

a.blog-btn {
	background: #56ab2f;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
}

.blog_more {
	margin: 4em 0 0;
	background: #000;
	color: #fff;
	text-transform: capitalize;
}

a.blog_more:hover {
	color: #fff;
}

.card-body p {
	font-size: 1em;
}

/* //blog */

/* footer */

.footer {
	background: #000;
}

/* footer grids */

.footerv3-top h3 {
	font-size: 1.3em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.fv3-contact span {
	color: #56ab2f;
	background: #151515;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
}

.footv3-left h4 a {
	font-size: 1.3em;
	letter-spacing: 0.5px;
	color: #fff !important;
	padding: 14px 0 0;
	position: relative;
	text-transform: capitalize;
}

h4.footer-title {
	color: #777;
	text-transform: capitalize;
}

.footerv3-top p {
	font-size: 1em;
	color: #a3b1bf;
	margin: 1em 0;
	line-height: 1.5em;
}

.footer p a {
	color: #777;
}

.footer p a:hover {
	color: #ED4F2E;
}

fv3-contact span {
	color: #56ab2f;
	font-size: 1.2em;
	display: inline-block;
	background: #eee;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}

.fv3-contact p {
	display: inline-block;
	vertical-align: middle;
	color: #333;
}

.footer-top p {
	max-width: 400px;
	color: #777;
}

.fv3-contact p a:hover {
	color: #fff;
}

.list-agileits li a {
	color: #333;
	font-size: 1.1em;
}

h3.w3f_title {
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #777
}

.cpy-right p {
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
}

.cpy-right p a {
	color: #56ab2f;
	font-size: 1em;
}

.cpy-right {
	background: #151515;
	padding: 1em 1vw;
}

/* footer grids */

footer-top p {
	max-width: 500px;
}

.footerv2-w3ls ul.social-iconsv2 li {
	display: inline-block;
	margin-right: 6px;
}

.footerv2-w3ls ul.social-iconsv2 li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab {
	font-size: 14px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.footerv2-w3ls ul.social-iconsv2 li:first-child {
	background: #3b5998;
	color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li:last-child {
	background: #287bbc;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(3) {
	background: #dd4b39;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab:hover {
	background-color: #fff;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(2) {
	background: #1da1f2;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a:hover {
	color: #fff;
}

/* //footer */

.contact-right-w3ls span {
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

/*-- blog single page --*/

.blog_list li a {
	color: #56ab2f;
}

.single-left1 p i {
	color: #56ab2f;
	display: block;
}

.admin {
	background: #424040;
}

.admin p {
	color: #f5f5f5;
	font-size: 14px;
	line-height: 2.4;
}

.admin p i {
	font-size: 28px;
	vertical-align: middle;
}

.admin a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
}

.admin a:hover {
	color: #fff;
}

/* comments */

.comments-grid-right ul li {
	display: inline-block;
	color: #888;
	font-size: 14px;
	letter-spacing: 1px;
}

.comments-grid-right ul li a {
	color: #56ab2f;
}

.comments-grid-right ul li a:hover {
	color: #555;
}

.comments-grid-right p {
	font-size: 14px;
}

/* //comments */

.leave-coment-form input[type="text"],
.leave-coment-form input[type="email"],
.leave-coment-form textarea {
	outline: none;
	border: 1px solid #dedede;
	background: none;
	padding: 12px;
	font-size: 15px;
	color: #212121;
}

.leave-coment-form textarea {
	min-height: 200px;
	resize: none;
	width: 100%;
}

.mm_single_submit {
	text-align: right;
}

.leave-coment-form input[type="submit"] {
	outline: none;
	border: none;
	background: #56ab2f;
	padding: 10px 36px;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
}

.leave-coment-form input[type="submit"]:hover {
	background: #212121;
	letter-spacing: 2px;
}

/*-- //blog single page --*/

/*--//banner-bottom --*/

.bottom-slider,
.main-content-w3layouts-agileits {
	padding: 5em 0;
}

section.bottom-slider {
	background: #eceff1;
}

.left-img img {
	width: 100%;
}

/* event */

.posts-grid-right h4 {
	line-height: 20px;
}

.posts-grid-right h4 a {
	font-size: 14px;
}

.posts-grid-right h4 a:hover {
	color: #999;
}

.wthree_blog_events_list li {
	display: inline-block;
	font-size: 14px;
}

ul.wthree_blog_events_list li i {
	color: #777;
}

.comments-grid-right h4 {
	font-size: 1em;
}

/* //event */

/* tags */

.tags ul li {
	display: inline-block;
}

.tags ul li a.text-dark {
	padding: 5px 10px;
	margin: 0 5px 10px 0;
	display: block;
	letter-spacing: 1px;
	font-size: 15px;
}

.tags ul li a.text-dark:hover {
	background: #56ab2f;
	border: 1px solid #56ab2f;
	color: #fff !important;
}

/* //tags */

/* //right side */

.blog_w3icon span {
	font-size: 14px;
	color: #000;
}

.blog_w3icon span i {
	font-size: 15px;
	color: #777;
}

/* button */

a.w3ls-button2 {
	background: #4caf50;
	padding: 12px 20px;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.28);
}

a.w3ls-button2:hover {
	background: #000;
}

/* //button */

.tab-content.tab-pane {
	display: none;
}

.tab-content.active {
	display: block;
}

.sidebar-tabing img {
	width: 120px;
	height: 100px;
}

.section-01 .title-small {
	margin-bottom: 5px;
	font-size: 16px;
}

.title-small {
	color: #141517;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	margin: 6px 0 0;
}

.title-large {
	font-size: 18px;
	margin: 10px 0;
	line-height: 30px;
	color: #141517;
}

.carousel-indicators li {
	background: #999;
}

.carousel-indicators {
	left: 70%;
	margin: 0;
}

.carousel-indicators .active {
	background-color: #000;
}

.side-bar .nav-tabs .nav-link.active,
.side-bar .nav-tabs .nav-link:hover {
	border-bottom: 2px solid #56ab2f;
	text-transform: uppercase;
	color: #222;
	font-weight: 700;
}

.side-bar .nav-tabs .nav-link {
	color: #aeaeae;
	text-transform: uppercase;
	border: none;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50%;
	padding: 1.25rem;
}

.badge-pos {
	color: #fff;
	background-color: #56ab2f;
	font-size: 13px;
	letter-spacing: 0.5px;
}

ul.blog_list_btm li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

ul.blog_list_btm {
	padding-top: 1em;
	border-top: 1px solid #777;
}

ul.blog_list_btm li:last-child {
	float: right;
}

.text-theme {
	color: #56ab2f;
}

.text-black {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
}

.bc_sub h4 {
	font-size: 1.1em;
	color: #333333;
	font-weight: 600;
	margin-bottom: 10px;
}

.bc_sub {
	margin-bottom: 2em;
}

.bc_sub input[type="email"] {
	width: 100%;
	color: #737070;
	outline: none;
	font-size: 14px;
	padding: 0.6em 1em;
	border: 2px solid #eceff1;
	-webkit-appearance: none;
	letter-spacing: 1px;
	margin: 1em 0;
}

.bc_sub input[type="submit"] {
	background: #56ab2f;
	padding: .7em 1em;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	display: block;
	outline: none;
	border: none;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bc_sub input[type="submit"]:hover {
	background: #000;
}

/* Categories */

.categories ul li,
.single-left2-left ul li {
	list-style-type: none;
	font-size: 14px;
}

.categories ul li i,
.single-left2-left ul li i {
	color: #56ab2f;
}

.categories ul li a,
.single-left2-left ul li a {
	color: #555;
}

.categories ul li a:hover,
.single-left2-left ul li a:hover,
.posts-grid-right h4 a:hover,
.wthree_blog_events_list li a:hover {
	color: #4caf50 !important;
}

/* //Categories */

/* search */

.event-right input[type="search"] {
	padding: 12px;
	width: 100%;
	letter-spacing: 1px;
	margin-right: 0 !important;
}

.event-right button {
	width: 100%;
	padding: 10px;
}

/* //search */

/* blog right title */

h3.blog-title {
	font-size: 22px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
	font-family: 'Source Sans Pro', sans-serif;
}

/*// blog right title */

/* event */

.posts-grid-right h4 {
	line-height: 20px;
}

.posts-grid-right h4 a {
	font-size: 14px;
}

.posts-grid-right h4 a:hover {
	color: #999;
}

.wthree_blog_events_list li {
	display: inline-block;
	font-size: 14px;
}

ul.wthree_blog_events_list li i {
	color: #777;
}

.comments-grid-right h4 {
	font-size: 1em;
}

/* left side */

h6.blog-first {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
}

h6.blog-first i {
	color: #56ab2f;
}

ul.blog_list li {
	display: inline-block;
	color: #777;
}

ul.blog_list.my-3 li a:hover,
h5.card-title a:hover {
	color: #000 !important;
}

ul.blog_list.my-3 li {
	font-size: 15px;
}

h5.card-title a {
	color: #56ab2f;
	font-weight: 400;
}

a.blog-button {
	background: #353535;
	border: none;
	font-size: 14px;
	padding: 11px 22px;
	letter-spacing: 1px;
}

a.blog-button:hover {
	background: #56ab2f;
}

/* //left side */

/* //event */

/* -- Responsive code -- */

@media screen and (max-width: 1080px) {
	.portfolio-area li {
		width: 278px;
	}
}

@media screen and (max-width: 991px) {
	.navbar-light {
		z-index: 1;
		top: -56px;
	}
	.navbar-toggler {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid transparent;
	}
	.portfolio-categ li {
		padding: 10px 12px;
		margin: 0 0.2em;
	}
	.portfolio-area li {
		width: 198px;
	}
	.brands-w3ls ul li {
		margin: 0 1em;
	}
	.contact-bottom {
		padding: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.portfolio-categ li {
		padding: 10px 7px;
	}
}

@media screen and (max-width: 568px) {
	.portfolio-area li {
		width: 228px;
	}
}

@media screen and (max-width: 480px) {
	.portfolio-area li {
		width: 184px;
	}
	.portfolio-categ li a {
		font-size: 0.9em;
	}
	.portfolio-categ li {
		padding: 7px;
	}
}

@media screen and (max-width: 414px) {
	.portfolio-area li {
		width: 151px;
	}
}

@media screen and (max-width: 384px) {
	.portfolio-area li {
		width: 152px;
		margin: 0.5em;
	}
}

@media screen and (max-width: 375px) {
	.portfolio-area li {
		width: 148px;
	}
}

@media screen and (max-width: 320px) {
	.portfolio-categ li {
		margin: 0;
	}
	.portfolio-area li {
		width: 120px;
	}
}

/* -- //Responsive code -- */

/* -- Responsive code -- */

@media screen and (max-width: 1920px) {
	.banner-main:before {
		left: 634px;
	}
}

@media screen and (max-width: 1680px) {
	.banner-main:before {
		left: 554px;
	}
}

@media screen and (max-width: 1600px) {
	.banner-main:before {
		left: 528px;
	}
}

@media screen and (max-width: 1440px) {
	.banner-main:before {
		left: 474px;
	}
	.banner-text-w3ls {
		margin: 1em 0 0;
	}
}

@media screen and (max-width: 1366px) {
	.banner-main:before {
		left: 450px;
	}
	a.navbar-brand {
		margin: 0.5em 0;
	}
	.slider-info h3 {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 1280px) {
	.header-left {
		padding: 4em 0 0 1.5em;
	}
	.banner-main:before {
		left: 419px;
	}
	.slider-info p {
		font-size: 1em;
	}
}

@media screen and (max-width: 1080px) {
	.banner-text-w3ls p {
		font-size: 1em;
		width: 300px;
	}
	.banner-main:before {
		left: 354px;
	}
	.banner-text {
		padding: 36vw 0 7vw 22vw;
	}
	.header-left {
		padding: 4em 0 2em 1.5em;
	}
	.fv3-contact p {
		font-size: 17px;
	}
	.brands-w3ls ul li i {
		font-size: 4em;
	}
	.contact-bottom {
		padding: 3rem 1rem;
	}
}

@media screen and (max-width: 1050px) {
	.banner-main:before {
		left: 344px;
	}
	.fv3-contact p {
		font-size: 16px;
	}
	.footer-top p {
		font-size: 1.1em;
	}
	h3.w3f_title {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	h4.w3l-sub {
		font-size: 2em;
	}
}

@media screen and (max-width: 1024px) {
	.banner-main:before {
		left: 336px;
	}
}

@media screen and (max-width: 991px) {
	.banner-text-w3ls p {
		font-size: 1em;
		width: 100%;
	}
	.banner-main:before {
		display: none;
	}
	.header-left {
		padding: 0em 1.5em 2em;
		text-align: center;
	}
	.home-button {
		margin: 4em auto 0;
		color: #000000;
		font-weight: bold;
		text-transform: uppercase;
		background: #fff;
		font-size: 1em;
		letter-spacing: 2px;
	}
	ul.navbar-nav.ml-lg-auto.text-center {
		background: #56ab2f;
		background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
		background: linear-gradient(to right, #a8e063, #56ab2f);
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000000;
	}
	.dropdown-menu {
		text-align: center;
	}
	.newsright {
		width: 70%;
	}
	.img-agile span {
		width: 20%;
	}
	.feature-review p {
		max-width: 100%;
	}
	.blog_more {
		margin: auto;
	}
}

@media screen and (max-width: 900px) {
	.callbacks_tabs {
		bottom: -50px;
	}
}

@media screen and (max-width: 800px) {
	h4.w3l-sub {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 736px) {
	.newsright {
		width: 90%;
	}
	.agileits-services-grids p {
		width: 100%;
	}
	.footerv2-w3ls.mt-3 h4 {
		font-size: 1.2em;
	}
	.img-agile h6 {
		font-size: 1.8em;
	}
	.blog_more {
		margin: 1em auto 0;
	}
	.w3_testimonials_grid {
		text-align: center;
	}
	.right-text-agiles p {
		font-size: 1em;
		padding: 1em;
	}
	.brands-w3ls ul li {
		margin: 0 12px;
	}
	.brands-w3ls ul li i {
		font-size: 3em;
	}
}

@media screen and (max-width: 667px) {
	.callbacks_tabs {
		bottom: -40px;
	}
	h4.w3l-sub {
		font-size: 1.5em;
	}
	.lead {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 600px) {
	.banner-text {
		padding: 25vw 0 7vw 22vw;
	}
}

@media screen and (max-width: 568px) {
	.banner-text {
		padding: 25vw 0 7vw 16vw;
	}
	.feature-review p {
		font-size: 1em;
	}
	.wthree-title p {
		font-size: 1em;
	}
	.typo-wthree h5 {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {
	.slider-info h3 {
		font-size: 1.5em;
	}
	.banner-text {
		padding: 24vw 0 7vw 9vw;
	}
	.callbacks_tabs {
		bottom: -34px;
	}
	.slider-info {
		padding: 10px 20px;
	}
	.slider-info h3 {
		font-size: 1.3em;
	}
	.logo-sign {
		padding: 5px 10px;
	}
	.newsright input[type="submit"] {
		padding: 0px 9px;
		font-size: 14px;
	}
	.agileits-abt-grids span {
		width: 55px;
		height: 55px;
		font-size: 1.2em;
		line-height: 50px;
	}
	.wthree-title p {
		letter-spacing: 0.5px;
	}
	.agileits-services-grids h4 {
		font-size: 1.4em;
	}
	.right-text-agiles p {
		padding: 1em 2em;
	}
	.brands-w3ls ul li i {
		font-size: 2.2em;
	}
	p {
		font-size: 1em;
	}
}

@media screen and (max-width: 414px) {
	.logo-sign.d-flex span {
		font-size: 2em;
	}
	.logo-sign {
		padding: 0px;
	}
	a.navbar-brand {
		font-size: 1em;
	}
	.banner-text-w3ls h3 {
		font-size: 1.5em;
	}
	.newsright {
		width: 100%;
	}
	.blog_more {
		font-size: 1em;
	}
	.brands-w3ls ul li {
		display: block;
		text-align: center;
	}
	.brands-w3ls ul li i {
		font-size: 4em;
	}
}

@media screen and (max-width: 384px) {
	.banner-text {
		padding: 24vw 0 9vw 4vw;
	}
	.newsright input[type="email"] {
		width: 100%;
	}
	form.d-flex {
		display: block !important;
	}
	.newsright input[type="submit"] {
		width: 100%;
		margin-left: 0;
		padding: 11px 20px;
	}
	.lead {
		font-size: 1rem;
	}
	.footer-top p {
		font-size: 1em;
	}
}

@media screen and (max-width: 375px) {
	label.align-self-center {
		font-size: 1.2em;
	}
	.newsright input[type="submit"] {
		letter-spacing: 2px;
		font-size: 13px;
	}
	h5.card-title a {
		font-size: 0.9em;
	}
	.right-text-agiles p {
		padding: 0 2em 1em;
	}
	.contact-top1 h5 {
		font-size: 1.7em;
	}
}

@media screen and (max-width: 320px) {
	.slider-info h3 {
		font-size: 1.2em;
	}
	.slider-info h3 {
		font-size: 1.05em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.footer-top h2 a {
		font-size: 1.1em;
	}
	.footer-top p {
		font-size: 1em;
	}
	.w3_testimonials_grid h5 {
		margin-top: 10px;
	}
	.right-text-agiles p {
		padding: 0 1em 1em;
	}
	.contact-right-w3ls span {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.contact-bottom {
		padding: 1rem;
		text-align: center;
	}
	.fv3-contact p {
		display: block;
		margin: 10px 0 0;
	}
	h3.blog-title {
		font-size: 19px;
	}
}

/* -- //Responsive code -- */
